JWT_PRIVATE_KEY=...
JWT_PUBLIC_KEY=...
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=campusconnect@gmail.com
SMTP_PASS=...
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://admin:secret@localhost:5672
MONGO_URI_AUTH=
MONGO_URI_EVENTS=
MONGO_URI_REG=